@mixin burger {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 2px;
  background: #356ead;
}

@mixin button {
  font-family: "GilroyRegular";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  position: relative;

  background: #5a98d0;
  box-shadow: 0 3px rgba(53, 110, 173, 0.2);
  border: none;
  border-radius: 10px;
}

@mixin link {
  font-family: "GilroySemiBold";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
}

@mixin card__title {
  font-family: "GilroyRegular";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  color: #ffffff;
}

@mixin card__subtitle {
  font-family: "GilroyRegular";
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.1em;
  color: #ffffff;
  opacity: 0.8;
}

@mixin nth-child__border {
  &:nth-child(n + 5) {
    border-top: 1px solid #ffffff;
  }
  &:nth-child(4n + 1) {
    border-right: 1px solid #ffffff;
  }
  &:nth-child(4n + 2) {
    border-right: 1px solid #ffffff;
  }
  &:nth-child(4n + 3) {
    border-right: 1px solid #ffffff;
  }
}

@mixin footer__text {
  font-family: "GilroyRegular";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-bottom: 20px;
}

@mixin mobile-nth-child {
  &:nth-child(n + 5) {
    border-top: none;
  }
  &:nth-child(4n + 1) {
    border-right: none;
  }
  &:nth-child(4n + 2) {
    border-right: none;
  }
  &:nth-child(4n + 3) {
    border-right: none;
  }
  &:nth-child(even) {
    border-left: 1px solid #ffffff;
  }
  &:nth-child(n + 3) {
    border-top: 1px solid #ffffff;
  }
}
